@model IEnumerable<ImageFileUpload.Models.Image>

@{
    ViewBag.Title = "ViewImage";
}

<h2>ViewImage</h2>

<p>
    @Html.ActionLink("Create New", "ImageUpload")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ImageName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MakeDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @*@Html.DisplayFor(modelItem => item.ImageName)*@

            <img src="@Url.Content(item.ImageName)" width="150" height="150" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MakeDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "ImageUpdate", new { id=item.ImageId }) 
         
        </td>
    </tr>
}

</table>
